body {
    font-family: 'Poppins', sans-serif;
    background-color: #fdfdfd;
    color: #333;
    margin: 0;
    padding: 2rem;
    line-height: 1.6;
}

h1,
h2 {
    color: #222;
}

a {
    color: #3674B5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #777;
}